<article>
  <div class=" mt-5">
    <h1 class="mb-5">We help you develop your digital projects at a competitive
      price.</h1>
    <hr>
    <div class="d-flex justify-content-center">
      <div class="d-block">
        <p>
          <mat-icon color="primary" inline>verified</mat-icon>
          &nbsp;Get exaclty what your business
          needs
        </p>
        <p>
          <mat-icon color="primary" inline>verified</mat-icon>
          &nbsp;Follow the progress in real-time
        </p>
        <p>
          <mat-icon color="primary" inline>verified</mat-icon>
          &nbsp;Participate actively to its
          realization
        </p>
      </div>
    </div>

  </div>
  <div class="mt-2 mb-2">
    <app-form-contact (sendFormContact)="submit($event)"></app-form-contact>
  </div>
</article>


